@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body::-webkit-scrollbar {
    display:none;
}
:root {
    --red-color: #99001C;
    --ivory-color: #F1E6D0;
    --black-color: #1E1E1E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GongGothicMedium';
}


h3 {
    font-family: 'GongGothicBold';
    font-size: 64px;
    margin-bottom: 40px;
}
.section-text>p {
    font-size: 24px;
    margin-bottom: 24px;
}
.ivory-color-text {
    color: var(--ivory-color);
}
.red-color-text {
    color: var(--red-color);
}
.phone {
    position: relative;
    width: 275px;
    height: 559px;
    background-image: url(images/Android-MockUp.png);
    background-repeat: no-repeat; 
    padding: 22px 0 0 12px;
    box-sizing: border-box;
}
.inner-container {
    position: relative;
}
.inner-container > figure {
    position: absolute;
    opacity: 0;
    transition: 1s;
}
figure.active {
    opacity: 1;
}
.section-icon img {
    filter: drop-shadow(12px 12px 4px rgba(30, 30, 30, 50%))
}

/* --------------- main --------------- */
#main {
    width: 100%;
    height: 100vh;
}
.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64%;
    background-color: var(--red-color);
}
.main-contents-container {
    width: 1080px;
}
.main-contents-container>h1 {
    font-family: 'GongGothicBold';
    color: var(--ivory-color);
    font-size: 160px;
    margin-bottom: 24px;
}
.main-contents-container>p {
    color: var(--ivory-color);
    font-size: 40px;
}

/* --------------- section-my-level --------------- */
.my-level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--red-color);
}
.my-level-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section1-icon {
    position: absolute;
    top: 80px;
    right: -120px;
    width: 560px;
}
.section1-lv {
    margin-left: 80px;
    margin-bottom: 32px;
    animation: shake 2.5s infinite;
    transform-origin: 42px;
}
.section1-my-level {
    margin-left: 420px;
    margin-bottom: 24px;
    animation: shake 1.5s infinite;
}
.section1-lv-check {
    margin-bottom: 82px;
    animation: shake 1s infinite;
    transform-origin: 101px;
}
.section1-check {
    margin-left: 457px;
    animation: shake 2s infinite;
}
@keyframes shake {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(0);
    }
}

/* --------------- section-cost-performance --------------- */
.cost-performance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#99001C, #FFFFFF);
}
.cost-performance-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section2-icon {
    position: absolute;
    top: -52px;
    right: -72px;
    width: 433px;
}
.section2-search-term {
    margin-left: 220px;
    margin-bottom: 49px;
    animation: scale 2.5s infinite;
    transform-origin: 65px;
}
.section2-￦ {
    margin-bottom: 43px;
    animation: scale 3.5s infinite;
    transform-origin: 32px;
}
.section2-9000 {
    margin-bottom: 82px;
    margin-left: 348px;
    animation: scale 3s infinite;
}
.section2-2000 {
    margin-bottom: 22px;
    animation: scale 2s infinite;
    transform-origin: 57px;
}
.section2-search {
    margin-left: 375px;
    animation: scale 1.5s infinite;
}
@keyframes scale {
    from {
        transform: scale(100%);
    }
    50% {
        transform: scale(116%);
    }
    from {
        transform: scale(100%);
    }
}


/* --------------- section-could-not-you --------------- */
.could-not-you {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300vh;
    overflow: hidden;
}
.could-not-you-contents {
    /* position: fixed; */
}
.could-not-you-contents>p {
    font-family: 'GongGothicBold';
    font-size: 128px;
    -webkit-text-stroke: 1px var(--red-color);
    color: var(--white-color);
    margin-bottom: 40px;
    width: 1920px;
}
.could-not-you-contents>p>span {
    font-family: 'GongGothicBold';
    color: var(--red-color);
}
.could-text-3  {
    margin-bottom: 0 !important;
}
.empty {
    height: 100vh;
}

/* --------------- section-find-friends --------------- */
.find-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FFFFFF, #F1E6D0);
}
.find-friends-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section4-icon {
    position: absolute;
    top: -52px;
    left: -120px;
    width: 520px;
}
.section4-pizza {
    margin-left: 330px;
    margin-bottom: 94px;
    animation: up-and-down 2.5s infinite;
}
.section4-chicken {
    margin-bottom: 35px;
    animation: up-and-down 3s infinite;
}
.section4-search-party {
    margin-left: 360px;
    margin-bottom: 100px;
    animation: up-and-down 1.5s infinite;
}
.section4-make-party {
    margin-left: 16px;
    animation: up-and-down 2s infinite;
}
.section4-fork-knife {
    margin-left: 424px;
    animation: up-and-down 1s infinite;
}
@keyframes up-and-down {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}
.find-friends-text {
    text-align: right;
}

/* --------------- section-high-lv-friends --------------- */
.high-lv-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--ivory-color);
}
.high-lv-friends-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section5-icon {
    position: absolute;
    top: -52px;
    left: -132px;
    width: 500px;
}
.section5-good {
    margin-left: 400px;
    margin-bottom: 112px;
    animation: twinkle 2s infinite linear;
}
.section5-awesome {
    margin-bottom: 76px;
    animation: twinkle 3.5s infinite linear;
}
.section5-bad {
    margin-left: 413px;
    margin-bottom: 42px;
    animation: twinkle 2.5s infinite linear;
}
.section5-soso {
    margin-left: 72px;
    animation: twinkle 3s infinite linear;
}
@keyframes twinkle {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

/* --------------- section-all-screens --------------- */
.all-screens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.all-screens img {
    width: 100%;
    height: 100%;
}

/* --------------- section-all-screens --------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.footer-contents {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 56%;
    background-color: var(--ivory-color);
}
.footer-contents>figure {
    padding-bottom: 64px;
}

/* --------------- fixed --------------- */
.arrow-down {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    animation: bounce infinite 2s;
}
.arrow-down:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(0);
    }
}

.side-bar {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}
.side-btn {
    width: 8px;
    height: 24px;
    margin-bottom: 16px;
    background-color: var(--black-color);
    opacity: 0.5;
    border-radius: 12px;
    transition: 0.5s;
}
.side-btn:hover {
    cursor: pointer;
    opacity: 1;
}
.side-btn-opacity {
    opacity: 1;
}

@media screen and (max-width: 1320px) {
    h3 {
        font-size: 56px;
        margin-bottom: 32px;
    }
    .section-text>p {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .phone {
        width: 245px;
        height: 498px;
        background-size: 245px 498px;
        padding: 19px 0 0 11px;
    }
    .inner-container img {
        width: 222px;
        height: 465px;
    }

    .main-contents-container {
        width: 960px;
    }
    .main-contents-container>h1 {
        font-size: 140px;
    }
    .main-contents-container>p {
        font-size: 32px;
    }
    
    .my-level-contents {
        width: 960px;
    }
    .section1-icon {
        top: 64px;
        right: -140px;
    }
    .section1-lv {
        margin-left: 64px;
    }
    .section1-lv img {
        width: 72px;
    }
    .section1-my-level {
        margin-left: 400px;
    }
    .section1-my-level img {
        width: 124px;
    }
    .section1-lv-check {
        margin-bottom: 72px;
    }
    .section1-lv-check img {
        width: 184px;
    }
    .section1-check {
        margin-left: 440px;
    }
    .section1-check img {
        width: 88px;
    }

    .cost-performance-contents {
        width: 960px;
    }
    .section2-icon {
        top: -40px;
        right: -92px;
    }
    .section2-search-term {
        margin-left: 200px;
    }
    .section2-search-term img {
        width: 124px;
    }
    .section2-￦ img {
        width: 56px;
    }
    .section2-9000 {
        margin-left: 340px;
    }
    .section2-9000 img {
        width: 70px;
    }
    .section2-2000 img {
        width: 104px;
    }
    .section2-search {
        margin-left: 360px;
    }
    .section2-search img {
        width: 48px;
    }

    .find-friends-contents {
        width: 960px;
    }
    .section4-icon {
        top: -40px;
        left: -120px;
    }
    .section4-pizza {
        margin-left: 320px;
    }
    .section4-chicken img {
        width: 64px;
    }
    .section4-search-party img {
        width: 116px;
    }
    .section4-make-party img {
        width: 114px;
    }
    .section4-fork-knife {
        margin-left: 400px;
    }
    .section4-fork-knife img {
        width: 56px;
    }

    .high-lv-friends-contents {
        width: 960px;
    }
    .section5-icon {
        top: -44px;
        left: -150px;
    }
    .section5-good {
        margin-left: 360px;
    }
    .section5-good img {
        width: 40px;
    }
    .section5-awesome {
        margin-left: 20px;
    }
    .section5-awesome img {
        width: 90px;
    }
    .section5-bad {
        margin-left: 420px;
    }
    .section5-bad img {
        width: 64px;
    }
    .section5-soso {
        margin-left: 72px;
    }
    .section5-soso img {
        width: 60px;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 48px;
    }
    .section-text>p {
        font-size: 16px;
    }
    .phone {
        width: 220px;
        height: 448px;
        background-size: 220px 448px;
        padding: 17px 0 0 10px;
    }
    .inner-container img {
        width: 200px;
        height: 418px;
    }

    .main-contents-container {
        width: 800px;
    }
    .main-contents-container>h1 {
        font-size: 120px;
    }
    .main-contents-container>p {
        font-size: 28px;
    }
    
    .my-level-contents {
        width: 800px;
    }
    .section1-icon {
        top: 70px;
        right: -180px;
    }
    .section1-lv img {
        width: 64px;
    }
    .section1-my-level {
        margin-left: 372px;
        transform-origin: 32px;
    }
    .section1-my-level img {
        width: 116px;
    }
    .section1-lv-check {
        margin-bottom: 72px;
    }
    .section1-lv-check img {
        width: 164px;
    }
    .section1-check {
        margin-left: 400px;
        transform-origin: 32px;
    }
    .section1-check img {
        width: 72px;
    }

    .cost-performance-contents {
        width: 800px;
    }
    .section2-icon {
        top: -44px;
        right: -120px;
    }
    .section2-search-term {
        margin-left: 220px;
    }
    .section2-search-term img {
        width: 112px;
    }
    .section2-￦ {
        margin-left: 20px;
    }
    .section2-￦ img {
        width: 48px;
    }
    .section2-9000 {
        margin-left: 316px;
    }
    .section2-9000 img {
        width: 64px;
    }
    .section2-2000 img {
        width: 96px;
    }
    .section2-search {
        margin-left: 324px;
    }
    .section2-search img {
        width: 36px;
    }

    .find-friends-contents {
        width: 800px;
    }
    .section4-icon {
        top: -40px;
        left: -106px;
    }
    .section4-pizza {
        margin-left: 300px;
    }
    .section4-chicken img {
        width: 56px;
    }
    .section4-search-party {
        margin-left: 320px;
    }
    .section4-search-party img {
        width: 106px;
    }
    .section4-make-party img {
        width: 96px;
    }
    .section4-fork-knife {
        margin-left: 360px;
    }
    .section4-fork-knife img {
        width: 48px;
    }

    .high-lv-friends-contents {
        width: 800px;
    }
    .section5-icon {
        top: -40px;
    }
    .section5-good {
        margin-left: 340px;
    }
    .section5-good img {
        width: 32px;
    }
    .section5-awesome {
        margin-left: 28px;
    }
    .section5-awesome img {
        width: 80px;
    }
    .section5-bad {
        margin-left: 400px;
    }
    .section5-bad img {
        width: 56px;
    }
    .section5-soso {
        margin-left: 80px;
    }
    .section5-soso img {
        width: 52px;
    }
}

@media screen and (max-width: 1080px) {
    .section-icon {
        display: none;
    }
}