@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --red-color: #99001C;
    --ivory-color: #F1E6D0;
    --black-color: #1E1E1E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GongGothicMedium';
}


h3 {
    font-family: 'GongGothicBold';
    font-size: 64px;
    margin-bottom: 40px;
}
.section-text>p {
    font-size: 24px;
    margin-bottom: 24px;
}
.ivory-color-text {
    color: var(--ivory-color);
}
.red-color-text {
    color: var(--red-color);
}
.phone {
    position: relative;
    width: 275px;
    height: 559px;
    background-image: url(images/Android-MockUp.png);
    background-repeat: no-repeat; 
    padding: 22px 0 0 12px;
    box-sizing: border-box;
}
.inner-container {
    position: relative;
}
.inner-container > figure {
    position: absolute;
    opacity: 0;
    transition: 1s;
}
figure.active {
    opacity: 1;
}

/* --------------- main --------------- */
#main {
    width: 100%;
    height: 100vh;
}
.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
    background-color: var(--red-color);
}
.main-contents-container {
    width: 1080px;
}
.main-contents-container>h1 {
    font-family: 'GongGothicBold';
    color: var(--ivory-color);
    font-size: 160px;
    margin-bottom: 24px;
}
.main-contents-container>p {
    color: var(--ivory-color);
    font-size: 40px;
}

/* --------------- section-my-level --------------- */
.my-level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--red-color);
}
.my-level-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section1-icon {
    position: absolute;
    top: 80px;
    right: -120px;
    width: 560px;
}
.section1-lv {
    margin-left: 80px;
    margin-bottom: 32px;
    animation: shake 2.5s infinite;
}
.section1-my-level {
    margin-left: 420px;
    margin-bottom: 24px;
    animation: shake 1.5s infinite;
}
.section1-lv-check {
    margin-bottom: 82px;
    animation: shake 1s infinite;
}
.section1-check {
    margin-left: 457px;
    animation: shake 2s infinite;
}
@keyframes shake {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(0);
    }
}

/* --------------- section-cost-performance --------------- */
.cost-performance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#99001C, #FFFFFF);
}
.cost-performance-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section2-icon {
    position: absolute;
    top: -52px;
    right: -72px;
    width: 433px;
}
.section2-search-term {
    margin-left: 220px;
    margin-bottom: 49px;
    animation: scale 2.5s infinite;
}
.section2-￦ {
    margin-bottom: 43px;
    animation: scale 3.5s infinite;
}
.section2-9000 {
    margin-bottom: 82px;
    margin-left: 348px;
    animation: scale 3s infinite;
}
.section2-2000 {
    margin-bottom: 22px;
    animation: scale 2s infinite;
}
.section2-search {
    margin-left: 375px;
    animation: scale 1.5s infinite;
}
@keyframes scale {
    from {
        transform: scale(100%);
    }
    50% {
        transform: scale(116%);
    }
    from {
        transform: scale(100%);
    }
}

/* --------------- section-could-not-you --------------- */
.could-not-you {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.could-not-you-contents>p {
    font-family: 'GongGothicBold';
    font-size: 128px;
    -webkit-text-stroke: 1px var(--red-color);
    color: var(--white-color);
    margin-bottom: 40px;
}
.could-not-you-contents>p>span {
    font-family: 'GongGothicBold';
    color: var(--red-color);
}

/* --------------- section-find-friends --------------- */
.find-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FFFFFF, #F1E6D0);
}
.find-friends-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section4-icon {
    position: absolute;
    top: -52px;
    left: -120px;
    width: 520px;
}
.section4-pizza {
    margin-left: 330px;
    margin-bottom: 94px;
    animation: up-and-down 2.5s infinite;
}
.section4-chicken {
    margin-bottom: 35px;
    animation: up-and-down 3s infinite;
}
.section4-search-party {
    margin-left: 360px;
    margin-bottom: 100px;
    animation: up-and-down 1.5s infinite;
}
.section4-make-party {
    margin-left: 16px;
    animation: up-and-down 2s infinite;
}
.section4-fork-knife {
    margin-left: 424px;
    animation: up-and-down 1s infinite;
}
.find-friends-text {
    text-align: right;
}
@keyframes up-and-down {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

/* --------------- section-high-lv-friends --------------- */
.high-lv-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--ivory-color);
}
.high-lv-friends-contents {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.section5-icon {
    position: absolute;
    top: -52px;
    left: -132px;
    width: 500px;
}
.section5-good {
    margin-left: 400px;
    margin-bottom: 112px;
    animation: twinkle 2s infinite linear;
}
.section5-awesome {
    margin-bottom: 76px;
    animation: twinkle 3.5s infinite linear;
}
.section5-bad {
    margin-left: 413px;
    margin-bottom: 42px;
    animation: twinkle 2.5s infinite linear;
}
.section5-soso {
    margin-left: 72px;
    animation: twinkle 3s infinite linear;
}
@keyframes twinkle {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

/* --------------- section-all-screens --------------- */
.all-screens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* --------------- section-all-screens --------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.footer-contents {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 56%;
    background-color: var(--ivory-color);
}
.footer-contents>figure {
    padding-bottom: 56px;
}

/* --------------- fixed --------------- */
.arrow-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    position: fixed;
    animation: bounce infinite 2s;
}
.arrow-down:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(0);
    }
}