@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --red-color: #99001C;
    --ivory-color: #F1E6D0;
    --black-color: #1E1E1E;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GongGothicMedium';
}